/* Regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* fine regole generali */

#upper{
    height: calc(100vh - 80px);
    display: flex;
}



main{
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
}

.header{
    text-align: end;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5)
}

.button{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 22px;
    padding: 12px 36px;
    font-size: 14px;
    font-weight: bold;
}

/* Navigazione playlist  */

.side{
    width: 200px;
    height: 100%;
    background-color: black;
    padding-left: 16px;
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotify{
    height: 34px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.spotify span{
    font-size: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.spotify img{
   height: 100%;
}

.nav li{
    height: 18px;
    margin: 10px 0;
    font-size: 12px;
    color: #636363;
    list-style-type: none;
    display: flex;    
    align-items: center;
}

.nav li:first-child{
    color: white;
}

li img{
    max-height: 100%;
    margin-right: 5px;
}

h5{
    color: white;
    margin-top: 10px;
}

.nav-playlist{
    flex-grow: 1;
    overflow: auto;
}

.nav-playlist li:first-child{
   display: flex;
   align-items: center;
}

.nav-playlist li{
    color: #636363;
    list-style-type: none;
    margin: 16px 0;
    font-size: 12px;
}

.fa-square-plus{
    font-size: 32px;
    color: #a3a3a3;
    padding-right: 5px;
}

.end-nav{
    color: #a3a3a3;
    font-size: 12px;
}

.end-nav span{
    margin-left: 10px;
}

hr{
    margin-top: 10px;
    margin-right: 16px;
}

.profile{
    color: #a3a3a3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile span{
    color: white;
}

.fa-user{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px;
    background-color: #636363;
    color: white;
}

/* Sezione smartphone (552px) */

@media screen and (max-width:552px){

    .nav-playlist, h5, .side span, hr{
        display: none;
    }

    .side{
        width: 50px;
        padding: 10px;
        text-align: center;
    }

    .nav li, .spotify{
        height: auto;
    }

    .nav img{
        margin: 0;
    }

    main{
        width: calc(100% - 50px);
    }


}

/* inizio parte principale */

.container{
    width: 98%;
    margin: auto;
}

.container h2{
    color: white;
    margin: 20px 0;
}

.categorie{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    color: #636363;
}

.categorie li{
    list-style-type: none;
    font-weight: bold;
    font-size: 14px;
}

.main-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col{
    height: 200px;
}

.col img{
    max-height: 100%;
}

/* Parte finale */

footer{
    height: 80px;
    background-color: aquamarine;
}



