/* Regole generali */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* fine regole generali */

#upper{
    height: calc(100vh - 80px);
    display: flex;
}

main{
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    overflow: auto;
}

.header{
    text-align: end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: calc(100% - 200px);
}

.button{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 22px;
    padding: 12px 36px;
    font-size: 14px;
    font-weight: bold;
}

/* Navigazione playlist  */

.side{
    width: 200px;
    height: 100%;
    background-color: black;
    padding-left: 16px;
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotify{
    height: 34px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.spotify span{
    font-size: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.spotify img{
   height: 100%;
}

.nav li{
    height: 18px;
    margin: 10px 0;
    font-size: 12px;
    color: #636363;
    list-style-type: none;
    display: flex;    
    align-items: center;
}

.nav li:first-child{
    color: white;
}

li img{
    max-height: 100%;
    margin-right: 5px;
}

h5{
    color: white;
    margin-top: 10px;
}

.nav-playlist{
    flex-grow: 1;
    overflow: auto;
}

.nav-playlist li:first-child{
   display: flex;
   align-items: center;
}

.nav-playlist li{
    list-style-type: none;
    margin: 16px 0;
    font-size: 12px;
}

.side a{
    color: #636363;
    text-decoration: none;
}

.fa-square-plus{
    font-size: 32px;
    color: #a3a3a3;
    padding-right: 5px;
}

.end-nav{
    color: #a3a3a3;
    font-size: 12px;
}

.end-nav a{
    margin-left: 10px;
}

hr{
    margin-top: 10px;
    margin-right: 16px;
}

.profile{
    color: #a3a3a3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile span{
    color: white;
}

.fa-user{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px;
    background-color: #636363;
    color: white;
}

/* Sezione xs (552px) */

@media screen and (max-width:552px){

    .nav-playlist, h5, .side a, .side span, hr{
        display: none;
    }

    .side{
        width: 50px;
        padding: 10px;
        text-align: center;
    }

    .nav li, .spotify{
        height: auto;
    }

    .nav img{
        margin: 0;
    }

    main{
        width: calc(100% - 50px);
    }

    .header{
        width: calc(100% - 50px);
    }

}

/* inizio parte degli album */

.nav-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    margin-top: 90px;
}

.nav-header li{
    list-style-type: none;
    font-weight: bold;
    font-size: 12px;
}

.nav-header a{
    text-decoration: none;
    color: #636363;
}

.container{
    width: 98%;
    margin: auto;
}

.container h2{  
    margin-bottom: 20px;
    color: white;
}

.main-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.square{
    width: calc(100% / 6 - 20px);
    text-align: center;
}

.square h4{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.square h6{
    color: #636363;
}

.square img{
    max-width:100%;
}

.row{
    margin-top: 40px;
    
}

.row h2{
    margin-bottom: 10px;
}

.row h6{
    color: #636363;
    margin-bottom: 20px;
}

.artist img{
    border-radius: 50%;
}

/* sezione mid 878px */

@media screen and (max-width:878px){
   .square{
    width: calc(100% / 4 - 20px);
   }
 
}

/* sezione s 639px */

@media screen and (max-width:639px){
    .square{
        width: calc(100% / 2 - 20px);
       }
}

/* Parte finale */

footer{
    height: 80px;
    background-color: #282828;
}

.flex-player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.sinistra{
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
}

.sinistra img{
    max-height: 100%;
}

.titolo-player{
    margin-left: 10px;
    width: 120px;
}

.titolo-player h6{
    color: #636363;
}

.icon{
    color: #636363;
}

.fa-heart{
    margin-right: 10px;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-icon{
    color: white;
    display: flex;
    gap: 20px;
    font-size: 1rem;
    margin-bottom: 5px;
    
}

.fa-circle-play{
    font-size: 1.8rem;
    margin-top: -5px;
}

.player-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player{
    width: 480px;
    height: 4px;
    background-color:#636363;
    border-radius: 30px;
}

#start{
    color: white;
    font-size: 0.7rem ;
    margin-right: 12px;

}

#end{
    color: white;
    font-size: 0.7rem ;
    margin-left: 12px;
}

.inside-player{
    width: 120px;
    border-radius: 30px;
    height: 4px;
    background-color:#a3a3a3;
}

.destra{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;

}

.icon-volume{
    color: white;
    font-size: 0.8rem;
    display: flex;
    gap: 15px;
    margin-right: 15px;
}

.volume{
    width: 120px;
    height: 4px;
    background-color:#636363;
    border-radius: 30px;

}

.inside-volume{
    width: 30px;
    border-radius: 30px;
    height: 4px;
    background-color:#a3a3a3;
}
